.pagination {
    text-align: center;
}
.pagination a{
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(33, 98%, 55%);
    font-weight: bold;
}
.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 87%);
    font-weight: bold;
}
